# Unity .gitattributes
*.cs text eol=crlf
*.shader text eol=crlf
*.cginc text eol=crlf
*.hlsl text eol=crlf
*.compute text eol=crlf
*.cg text eol=crlf
*.glslinc text eol=crlf
*.template text eol=crlf
*.mat text eol=crlf
*.anim text eol=crlf
*.unity text eol=crlf
*.prefab text eol=crlf
*.physicsMaterial2D text eol=crlf
*.physicsMaterial text eol=crlf
*.asset text eol=crlf
*.meta text eol=crlf
*.controller text eol=crlf
*.overrideController text eol=crlf
*.mask text eol=crlf
*.playable text eol=crlf
*.brush text eol=crlf
*.spriteatlas text eol=crlf
*.spriteatlasv2 text eol=crlf
*.terrainlayer text eol=crlf
*.guiskin text eol=crlf
*.fontsettings text eol=crlf
*.renderTexture text eol=crlf
*.asmdef text eol=crlf
*.asmref text eol=crlf
*.shadervariants text eol=crlf
*.raytrace text eol=crlf
